<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" 
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Recipe Manager
      </a>
    </div>
    <div class="navbar-inverse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/recipes']"
             routerLinkActive="active">Recipes
          </a>
        </li>
        <li>
          <a [routerLink]="['/shopping-list']"
            routerLinkActive="active">Shopping List
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isAuthenticated()"><a [routerLink]="['/signup']" routerLinkActive="active">Register</a></li>
        <li *ngIf="!isAuthenticated()"><a [routerLink]="['/signin']" routerLinkActive="active">Login</a></li>
        <li *ngIf="isAuthenticated()"><p class="navbar-text label label-default">{{ getDisplayName() }}</p></li>
        <li *ngIf="isAuthenticated()"><a (click)="onLogout()">Logout</a>
        </li>
        <li class="dropdpown"
          *ngIf="isAuthenticated()"
          appDropdown>
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onSaveData()">Save Data</a></li>
            <li><a (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>