<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group"
          [ngClass]="{ 'has-error': name.invalid && name.touched }">
          <label for="name">Name</label>
          <input type="text"
            id="name"
            class="form-control"
            ngModel #name="ngModel"
            name="name"
            required>
          <div *ngIf="!name.valid && name.touched">
            <span class="help-block"
              *ngIf="name.errors.required">Recipe name is required
            </span>
          </div>
        </div>
        <div class="col-sm-3 form-group"
          [ngClass]="{ 'has-error': amount.invalid && amount.touched }">
          <label for="amount">Amount</label>
          <input type="number"
            id="amount"
            class="form-control"
            ngModel #amount="ngModel"
            name="amount"
            required
            pattern="^([0-9]*[1-9][0-9]*(\.[0-9]+)?|[0]+\.[0-9]*[1-9][0-9]*)$">
          <div *ngIf="!amount.valid && amount.touched">
            <span class="help-block"
              *ngIf="amount.errors.required">Amount is required
            </span>
            <span class="help-block"
              *ngIf="amount.errors.pattern">Must be a number more than 0
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group">
            <button class="btn btn-success"
              type="submit"
              (click)="onAdded()">{{ updateMode ? 'Update' : 'Add' }}
            </button>
            <button class="btn btn-danger"
              type="button"
              (click)="onRemoved()"
              [disabled]="!updateMode">Delete
            </button>
            <button class="btn btn-primary"
              type="button"
              (click)="onCleared()">Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>