<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3>Register</h3>
    <form #signupForm="ngForm"
      (ngSubmit)="onSignup(signupForm)">
      <div class="form-group"
        [ngClass]="{ 'has-error': name.invalid && name.touched }">
        <label for="name">Name</label>
        <input type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel #name="ngModel"
          required>
          <span class="help-block"
            *ngIf="name.invalid && name.touched && name.errors.required">Name is required
          </span>
      </div>
      <div class="form-group"
        [ngClass]="{ 'has-error': email.invalid && email.touched }">
        <label for="email">E-mail</label>
        <input type="email"
          class="form-control"
          id="email"
          name="email"
          ngModel #email="ngModel"
          required
          email>
          <span class="help-block"
            *ngIf="email.invalid && email.touched && email.errors.required; else invalidEmail">E-mail is required
          </span>
          <ng-template #invalidEmail>
            <span class="help-block"
              *ngIf="email.invalid && email.touched && email.errors.email">Use a valid e-mail format
            </span>
          </ng-template>
      </div>
      <div class="form-group"
        [ngClass]="{ 'has-error': password.invalid && password.touched }">
        <label for="password">Password</label>
        <input type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel #password="ngModel"
          required>
          <span class="help-block"
            *ngIf="password.invalid && password.touched && password.errors.required">Password is required
          </span>
      </div>
      <button class="btn btn-primary"
        type="submit"
        [disabled]="signupForm.invalid">Sign Up
      </button>
    </form>
  </div>
</div>