<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3>Login</h3>
    <form #signinForm="ngForm"
      (ngSubmit)="onSignin(signinForm)">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email"
          class="form-control"
          name="email"
          id="email"
          ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
          class="form-control"
          name="password"
          id="password"
          ngModel>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>