<label>Server Name</label>
<!--<input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)" />-->
<input
    type="text"
    class="form-control"
    placeholder="Enter server name"
    [(ngModel)]="serverName"
    (input)="onInputChange($event)"/>
<p></p>
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer($event)">
        Add Server
</button>
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>