<div class="col-xs-12">
  <img
    src=""
    alt=""
    class="img-responsive">
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{ recipe.name }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingredients to Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-5">
    <h5><strong>Ingredients</strong></h5>
    <ul>
      <li *ngFor="let ingredient of recipe.details.ingredients">
        {{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }}
      </li>
    </ul>
  </div>
  <div class="col-xs-7">
    <span class="pull-right">
      <img
        [src]="recipe.imagePath"
        [alt]="recipe.name"
        class="img-responsive">
    </span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5><strong>Instructions</strong></h5>
    <ol>
      <li *ngFor="let instruction of recipe.details.instructions">
        {{ instruction }}
      </li>
    </ol>
  </div>
</div>